* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    color: #555555;
    background-color: #f5f5f5;
    font-family: 'Arial', 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

section {
  margin-top:50px;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
}
.sticky {
    position: fixed;
    z-index: 1;
}
.bar {
    height: 40px;
    width: 100%;
    background-color: #ffffff;
    font-size: 0;
}
nav div,
nav form {
    box-sizing: border-box;
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
}
i {
    color: #555555;
}
i:hover {
    color: #02B3E4;
    cursor: pointer;
}
a {
    text-decoration: none;
}
@media only screen and (min-width: 768px) {
    .hidden-min-768 {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .hidden-max-768 {
        display: none;
    }
}
::placeholder {
    font-size: 14px;
    color: #cccccc;
}
strong {
    font-weight: bold;
}


/*  ***************************************************
                        Navbar
***************************************************  */


#navbar nav {
    margin: 0 auto;
    max-width: 900px;
}
#logo {
    padding-top: 7px;
}
@media only screen and (min-width: 768px) {
    #logo {
        width: 20%;
        text-align: right;
    }
    #searchbar {
        padding: 0 0 0 10px;
        width: 30%;
        /* background-color: red; */
    }
    #searchbar input[type="text"] {
        width: 85%;
        padding: 4px 5px;
        font-size: 14px;
        margin: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: 1px solid #eeeeee;
    }
    #searchbar input:focus {
        outline: none;
    }
    #searchbar button {
        width: 10%;
        vertical-align: middle;
        padding: 3px 0 5px 0;
        background-color: #02ccba;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        margin: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 16px;
    }
    #blank {
        width: 20%;
    }
    #home-btn-nav,
    #notification-btn-nav,
    #message-btn,
    #profile-btn-nav,
    #camera-btn-nav {
        width: 6%;
    }
    #camera-btn-nav {
        font-size: 18px;
        padding-top: 2px;
    }
    #navbar button:hover {
        background-color: #03bdaa;
    }
    #navbar i:hover {
        color: #02ccba;
    }
    #searchbar i:hover {
        color: #ffffff;
    }
}
@media only screen and (max-width: 768px) {
    #navbar {
        border-bottom: 1px solid #eeeeee;
    }
    #logo {
        width: 60%;
        text-align: center;
    }
    #message-btn,
    #burger-btn {
        width: 20%;
        padding: 0 15px;
        margin-top: 0;
    }
    #message-btn {
        text-align: right;
    }
}
#logo span {
    position: relative;
    bottom: 7px;
    color: #ffffff;
}
.container {
    background-color: #f5f5f5;
    top: 40px;
    position: absolute;
    width: 100%;
}
@media only screen and (max-width: 767px) {
    .container-padding {
        padding: 20px 0 40px 0;
    }
    .navbar-color {
        background-color: #ffffff;
    }
}
@media only screen and (min-width: 768px) {
    .container-padding {
        padding: 20px 0 0 0;
    }
    .navbar-color {
        background-color: #02B3E4;
    }
    #navbar i {
        color: #ffffff;
    }
}


/*  ***************************************************
                        Post
***************************************************  */


.post {
    background-color: white;
    border-radius: 10px;
    margin: 0 auto 20px auto;
    max-width: 400px;
    border: 1px solid #eeeeee;
}

/* Header */

.post-header {
    padding: 15px;
    font-size: 14px;
    color: #555555;
}
.post-avatar, .post-user-info, .post-detail-btn {
    display: inline-block;
}
.post-avatar {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    border: 1px solid #cccccc;
}
.post-user-info {
    margin-left: 15px;
}
.post-user-info a {
    color: #555555;
}
.post-user-info a:hover {
    text-decoration: underline;
    color: #02B3E4;
}
.post-detail-btn {
    float: right;
    font-size: 20px;
}

/* Image */

.post-img-content img {
    width: 100%;
    display: block;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

/* Interactions */

.interactions {
    position: relative;
    padding: 15px;
}
.interactions div {
    display: inline-block;
}
.bookmark-btn {
    position: relative;
    top: 2px;
    margin-right: 15px;
}
.like-btn {
    position: absolute;
    right: 15px;
    border-radius: 5px;
    border: 1px solid #02ccba;
    color: #02ccba;
    padding: 3px;
    font-size: 14px;
}
.like-btn span {
    position: relative;
    bottom: 2px;
}
.like-btn i {
    position: relative;
    font-size: 20px;
    margin-left: 3px;
    color: #02ccba;
}
.like-btn:hover, .like-btn:hover * {
    color: #ffffff;
    background-color: #02ccba;
    border-color: #02ccba;
    cursor: pointer;
}

/* Interactions */

.time {
    padding-left: 15px;
    font-size: 12px;
    font-weight: lighter;
    color: #888888;
}

/* Caption */

.caption {
    padding: 15px;
    font-size: 14px;
}


/*  ***************************************************
                        Tabbar
***************************************************  */


#tabbar {
    border-top: 1px solid #eeeeee;
    bottom: 0;
}
#tabbar nav div,
#tabbar nav form {
    width: 20%;
    text-align: center;
    position: relative;
    top: 10px;
}
#uploadImg {
    display: none;
}


/*  ***************************************************
                        Modal post form
***************************************************  */


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.2);
}
.modal-content {
    background-color: #ffffff;
    margin: 5% auto;
    padding: 0 20px 10px 20px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
}
@media only screen and (max-width: 768px) {
    .modal-content {
        width: 80%;
    }
}
@media only screen and (min-width: 768px) {
    .modal-content {
        width: 50%;
    }
}
#modal-nav {
    position: relative;
    width: 100%;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #eeeeee;
}
.close {
    position: absolute;
    color: #555555;
    font-size: 30px;
    top: 10px;
    right: 0;
}
.close:hover,
.close:focus {
    color: #02B3E4;
    text-decoration: none;
    cursor: pointer;
}
#modal-input {
    position: relative;
    padding: 0;
}
#modal-input textarea {
    width: 80%;
    height: 100px;
    font-size: 16px;
    line-height: 24px;
    padding: 2%;
    resize: none;
    border: 0;
    display: inline-block;
}
#modal-input textarea:focus {
    outline: none;
}
#modal-input img {
    position: absolute;
    width: 20%;
    top: 5px;
    display: inline-block;
}
#post-btn-modal {
    text-align: right;
    padding-top: 10px;
    margin-top: 20px;
    border-top: 1px solid #eeeeee;
}
#post-btn-modal button {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #02ccba;
    color: #ffffff;
    border: 0;
}
#post-btn-modal button:hover,
#post-btn-modal button:focus {
    background-color: #03bdaa;
    outline: none;
}


/*  ***************************************************
                        Toan's custom
***************************************************  */
#outer
{
    width:100%;
    text-align: left;
    margin-top: 10px;
}
.inner
{
    display: inline-block;
    padding: 5px;
    font-size: 14px;
}

.btnAdd {
  background: #fff;
  border: 2px solid #02CCBA;
  color: #02CCBA;
  padding: 3px;
}

.btnEdit {
  background: #fff;
  border: 2px solid #5f5f5f;
  color: #5f5f5f;
  padding: 3px;
}

#addImage i {
  color: #02CCBA;
}

#avatar {
  width: 200px;
  border-radius: 50%;
  height: 200px;
}
#stats div {
  font-size: 13px;
  display: inline-block;
  color: #757575;
  list-style: none;
  vertical-align: middle;
}

#stats span {
  font-size: 1.5rem;
}

#username, #name {
  font-size: 20px;
  font-weight: bold;
}

#description {
    font-size: 13px;
    font-weight: lighter;
}

#username {
  margin-bottom: 17px;
}

#stats {
  margin-bottom: 21px;
}

#name {
  margin-bottom: 7px;
}

.container-fluid {
  position: relative;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.col-1 {
  max-width: 8.333333%;
}

.col-2 {
  max-width: 16.666667%;
}

.col-3 {
  max-width: 25%;
}

.col-4 {
  max-width: 33.333333%;
}

.col-5 {
  max-width: 41.666667%;
}

.col-6 {
  max-width: 50%;
}

.col-7 {
  max-width: 58.333333%;
}

.col-8 {
  max-width: 66.666667%;
}

.col-9 {
  max-width: 75%;
}

.col-10 {
  max-width: 83.333333%;
}

.col-11 {
  max-width: 91.666667%;
}

.col-12 {
  max-width: 100%;
}

/*div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    height: auto;
    width: auto;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 100%;
}

}*/


#create {
  font-size: 50px;
  color: #02CCBA;
}

#createAlbum div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.gallery:first-child {

}

div.gallery {
    border: 1px solid #ccc;
    height: auto;
    width: auto;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 10px;
    text-align: center;
}

.responsive {
    padding: 3px 6px;
    float: left !important;
    width: 33.3333%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

/*  ***************************************************
                      Photo's Page
***************************************************  */
.section-photo {
    padding: 0;
}

.photo-showcase {
    list-style: none;
    width: 100%;
}

.photo-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.album-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.album-photo img {
    opacity: 0.7;
    width: 100%;
    height: 250px;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}

.album-photo img:hover {
    opacity: 1;
    transform: scale(1.03);
}

hr{
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
